@import "variables";
@import "mixin";

#cartTop {
  width: 1202px;
  height: 30px;
  padding: 0 82px;
  background-color: #f2f2f2;
  margin: 0 auto;
  line-height: 30px;
  border: 1px solid #cccccc;
  position: relative;
}
#cartTop ul {
  float: right;
}
#cartTop ul li {
  float: left;
  list-style: none;
}
#cartTop .erwei {
  position: absolute;
  top: 31px;
  left: 1200px;
  z-index: 1;
  display: none;
}

#hint{
  width:1202px;
  height:auto;
  padding: 0 82px;
  position: relative;
  margin: $userMargin;
}
#hint span{
  @include userPosition(40,663);
}

#cartList{
  width:1202px;
  height:auto;
  padding: 0 82px;
  margin-bottom: 20px;
}
#cartList .top{
  width:1202px;
  height:auto;
}
#cartList .top div{
  width:1162px;
  padding: 10px 20px;
  height:auto;
  border: 1px solid #000;
  margin-bottom: 20px;
  position: relative;
}
#cartList .top div b{
  margin:0 70px;
}
#cartList .top div img{
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}
#cartList .top div input{
  @include userPosition(10,40);
}
#cartList .top div img{
  position: relative;
  left: 50px;
}
#cartList .top div a{
  display: inline-block;
  width: 200px;
  height: 30px;
  position:relative;
  top: -50px;
  left: 80px;
}
#cartList .top div span{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -50px;
  left: 125px;
}
#cartList .top div table{
  @include userPosition(40,625);
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 18px;
  font-weight: bold;
}
#cartList .top div table tr td{
  padding: 8px 15px;
  border: 1px solid #ccc;
  cursor:pointer;
}
#cartList .top div .cartSpan{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -50px;
  left: 440px;
  color: red;
}
#cartList .top div .del{
  font-size: 16px;
  position: relative;
  top: -50px;
  left: 600px;
  cursor: pointer;
}
#cartList .top div .del:hover{
  text-decoration: underline;
}
#cartList .bottom{
  width:1202px;
  height:60px;
  border: 1px solid #000;
  background-color: #f2f2f2;
  line-height: 60px;
  position: relative;
}
#cartList .bottom input{
  margin: 0 0 0 40px;
}
#cartList .bottom span{
  margin: 0 30px 0 20px;
}
#cartList .bottom .jsA{
  margin: 0 50px;
  cursor: pointer;
}
#cartList .bottom b{
  color: red;
  font-weight: bold;
}
#cartList .bottom .cartP1{
  @include userPosition(-10 ,900);
}
#cartList .bottom .cartP1 span{
  font-size: 20px;
  color: red;
}
#cartList .bottom .cartP2{
  @include userPosition(10 ,900);
}
#cartList .bottom .accounts{
  display: inline-block;
  width: 120px;
  height: 60px;
  background-color: #f25e5a;
  color: #fff;
  font-size: 18px;
  text-align: center;
  float: right;
}
#cartList .login{
  width: 400px;
  height: 70px;
  padding: 30px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

#menu2{
  width:1202px;
  height:30px;
  padding: 0 82px;
  background-color: #000;
  position: relative;
  margin: $userMargin;
  font: 18px/30px 宋体;
  color: #fff;
}
#menu2 span{
  display: inline-block;
  width: 220px;
  height: 30px;
  background-color: #654579;
  position: relative;
  cursor: pointer;
}
#menu2 span b{
  display: inline-block;
  @include userPosition(0,60);
}
#menu2 span img{
  display: inline-block;
  @include userPosition(0,140);
}
#menu2 .ul1{
  display: inline-block;
}
#menu2 .ul1 li{
  @include userLi;
  float: left;
}
#menu2 .ul1 li a{
  @include userA(red,green);
  padding: 0 15px 0 35px;
}
#menu2 .hide{
  @include userPosition(30,82);
  width: 220px;
  height: 480px;
  background-color: #e8e3eb;
  z-index: 100;
  display: none;
}
#menu2 .hide li{
  @include userLi;
  padding: 15px 0 2px 0;
  width: 220px;
  height: 102px;
  border-bottom: 1px dotted #ccc;
}
#menu2 .hide li div{
  width: 180px;
  height: 101px;
  padding: 0 20px;
}
#menu2 .hide a{
  font-size: 12px;
  font-weight: 500;
}
#menu2 .hide li div .first{
  display: block;
}
#menu2 .hide .last{
  border-bottom:none;
}
#menu2 .liHide{
  padding: 35px;
  @include userPosition(30,302);
  background-color: #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 12px;
  display: none;
}
#menu2 .liHide .lihideUl{
  margin-top: 20px;
}
#menu2 .liHide .lihideUl li{
  @include userLi;
  float: left;
}
#menu2 .liHide .lihideUl li ul li{
  @include userLi;
  float: left;
  padding: 0 30px 0 0;
  height: auto;
}
#menu2 .liHide .lihideUl li ul li a{
  margin-right: 10px;
}

#main{
  width:1200px;
  height:4250px;
  margin:0 82px 10px 82px;
  background-color:#fff;
  border: 1px solid #ccc;
  position: relative;
}
#main .head{
  width:1200px;
  height:40px;
  margin:10px auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
  position: relative;
}
#main .head a{
  position: relative;
  top: -15px;
  margin:0 10px;
}
#left{ width:377px; height:500px; float:left; position: relative;}
#fd{ width:350px; height:420px; margin:10px auto; position:relative;}
#big{ width:350px; height:350px; margin-bottom:10px; position:relative; border: 1px solid #ccc;}
#big:hover{ cursor:move;}
#big img{ display:block; width:350px; height:350px; cursor:move; position:absolute;}
#big #fdj{ width:100px; height:100px; position:absolute; z-index:100; background-color:#FC6; opacity:0.5; filter:alpha(opcity=50); display:none;}
#fdjright{ width:350px; height:350px; position:absolute; top:0px; left:360px; z-index:100; border:1px solid #ccc; overflow:hidden; display:none;}
#fdjright img{ width:1225px; height:1225px; position:absolute; top:0; left:0;}
#big .first{ z-index:1;}
#small{ width:350px; height:50px; margin-bottom:10px;}
#small img{ width:50px; height:50px; float:left; margin-left:10px;}
#small img:hover{ width:46px; height:46px; border:2px solid red;}
#small .btnleft{ width:20px; height:50px; float:left; position:relative; top:0; left:0; background-color:#fff; font:20px "宋体";}
#small .btnright{ width:20px; height:50px; float:right; position:relative; top:0; right:0; background-color:#fff; font:20px "宋体";}
#inform{
  width: 200px;
  padding: 20px 10px;
  height: 10px;
  overflow: hidden;
  z-index: 100;
  @include userPosition(440,150);
}
#inform span{
  display: inline-block;
  width: 200px;
  height: 20px;
  text-align: center;
  margin-bottom: 10px;
}
#center{
  width:480px;
  height:480px;
  padding:10px 0 10px 30px;
  float:left;
  position:relative;
  margin-right: 10px;
}
#price{ width:460px; height:100px; padding:10px; margin:5px auto; font:14px/30px "宋体";}
#price span{ color:red; font-size:20px; font-weight:bold;}
#center table{
  border-collapse: collapse;
  border-spacing:0;
  width: 480px;
  height: 30px;
}
#center table tr td{
  width: 160px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px dotted #ccc;
}
#center .pieces{
  width: 400px;
  height: 40px;
  margin: 20px 0;
  position: relative;
  line-height: 40px;
}
#center .pieces span{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
  font-size: 18px;
  color: red;
}
#center .pieces button{
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 18px;
}
#center .pieces a{
  @include userPosition(2,210);
}
#addToCart{
  height: 36px;
  width: 450px;
  margin-bottom: 30px;
}
#addToCart a{
  display: inline-block;
  width: 136px;
  height: 34px;
  font-size: 16px;
  line-height: 34px;
  margin:0 30px;
  border: 2px solid #e14958;
}
#addToCart .cartA{
  position: relative;
  top: -12px;
  text-align: center;
  color: #e14958;
}
#center ul li{
  @include userLi;
  float: left;
  margin: 0 25px;
}
#center ul li span{
  position: relative;
  top: -5px;
}
#right{
  width:250px;
  height:480px;
  padding:10px; float:left;
}
#right dl{
  padding: 0 41px;
  margin-bottom: 20px;
}
#right dl dd{
  text-align: center;
}
#main .detailsUl{
  width:1200px;
  height:41px;
  font-size: 20px;
  @include userPosition(570,0);
}
#main .detailsUl li{
  @include userLi;
  display: inline-block;
  padding: 0 50px;
  height:41px;
  line-height: 41px;
  float: left;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
#main .detailsUl ._liFirst{
  border-bottom:none;
  border-top: 3px solid blue;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
}
#main .details{
  @include userPosition(640,0);
  width: 1199px;
  height: 3605px;
}
#main .sno1{
  z-index: 10;
}
#main .sno2{
  background-color: red;
}
#main .sno3{
  background-color: green;
}
#main .sno4{
  background-color: blue;
}



#register{
  width: $pageWidth;
  height: 658px;
  border-top: 1px  solid #000;
  border-bottom: 1px  solid #000;
  position: relative;
  background:#f9fbfd url("../images/register.jpg") no-repeat 72px 0;
}
#register .reg{
  width: 393px;
  height: 450px;
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  @include userPosition(40,750);
}
#register .reg h2{
  padding: 0 10px;
  border-left: 2px solid blue;
  margin-bottom: 15px;
}
#register .reg ul{
  width: 393px;
  height: 35px;
  border-bottom: 2px solid #654579;
}
#register .reg ul li{
  @include userLi;
  float: left;
  font-size: 18px;
}
#register .reg ul li a{
  display: inline-block;
  height: 35px;
  padding: 0 80px;
  line-height: 35px;
  cursor: pointer;
}
//#register .reg ul li a:hover{
//  height: 33px;
//  border-bottom: 2px solid #654579;
//}
#register .reg .codeDiv1{
  width: 325px;
  height: 300px;
  padding: 40px 31px;
  position: absolute;
  background-color: #fff;
  z-index: 2;
}
#register .reg .codeDiv2{
  width: 325px;
  height: 300px;
  padding: 40px 31px;
  position: absolute;
  z-index: 1;
  background-color: #fff;
}
#register .reg .codeDiv1 button{
  width: 100px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  @include userPosition(101,250);
}
#register .reg p{
  width: 150px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  background-color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: none;
}
#register .reg .codeP1{
  @include userPosition(80,70);
}
#register .reg .codeP2{
  @include userPosition(140,70);
}
#register .reg .codeP3{
  @include userPosition(200,70);
}
#register .reg .codeP4{
  @include userPosition(260,70);
}
#register .reg .codeP5{
  z-index: 30;
  @include userPosition(80,70);
}
#register .reg .codeP6{
  z-index: 30;
  @include userPosition(140,70);
}
#register .reg .codeDiv1 .auth{
  display: inline-block;
  width: 100px;
  height: 38px;
  background-color: #94d469;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  @include userPosition(159,250);
}
#register .reg .codeForm1{
  width: 323px;
  height: 38px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
#register .reg .codeDiv1 .codeForm2{
  width: 202px;
  height: 38px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
#register .reg form span{
  display: inline-block;
  width: 40px;
  height: 38px;
  border-right: 1px solid #ccc;
}
#register .reg form .codeText1{
  width: 251px;
  padding: 0 15px;
  height: 38px;
  border: none;
  float: right;
  margin-bottom: 19px;
}
#register .reg .codeDiv1 form .codeText2{
  width: 130px;
  padding: 0 15px;
  height: 38px;
  border: none;
  float: right;
  margin-bottom: 19px;
}
#register .reg form .inputLast{
  width: 323px;
  height: 38px;
  border:none;
  background-color: #e14958;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

#searchList{
  width:1200px;
  height:auto;
  margin:0 82px 10px 82px;
  background-color:#fff;
}
#searchList .head{
  width:1200px;
  height:40px;
  margin:10px auto;
  border: 1px solid #ccc;
  line-height: 40px;
  position: relative;
}
#searchList .head a{
  position: relative;
  padding: 7px 12px;
  top: -15px;
  margin:0 10px;
  border: 1px solid #ccc;
}
#searchList .head form{
  @include userPosition(7,210);
  width: 172px;
  height: 23px;
  border: 1px solid #ccc;
}
#searchList .head form input{
  width: 127px;
  padding: 0 10px;
  height: 23px;
  border: none;
  float: left;
}
#searchList .head button{
  width: 25px;
  height: 23px;
  border: none;
  float: left;
  background: url("../images/search.jpg") no-repeat;
}
#searchList table{
  display: inline-block;
  width:1140px;
  height:215px;
  padding:20px 30px;
  border: 1px solid #ccc;
  position: relative;
  border-spacing: 15px;
  border-collapse: collapse;
}
#searchList table tr td{
  width: 110px;
  height: 35px;
}
#searchList table tr td span{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
}
#searchList ul{
  display: inline-block;
  width:1140px;
  padding: 0 30px;
  height:40px;
  margin:10px auto;
  border: 1px solid #ccc;
  line-height: 40px;
  background-color: #fbfbfb;
}
#searchList ul li{
  @include userLi;
  float: left;
  margin-right: 30px;
}
#searchList ul .liLast{
  float: right;
}
#searchList ul li span{
  color: red;
}
#searchList .goods{
  width:1200px;
  padding: 10px 0px;
  height: 6360px;
  position: relative;
}
#searchList .goods dl{
  display: inline-block;
  width:283px;
  height:398px;
  border: 1px solid #ccc;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  position: relative;
}
#searchList .goods dl:hover{
  box-shadow: 0px 0px 8px red;
}
#searchList .goods .dlRight{
  margin-right: 0;
}
#searchList .goods dl dd{
  width:233px;
  padding:0 25px;
  margin-top: 11px;
}
#searchList .goods dl dd b{
  color: red;
  font-size: 20px;
}
#searchList .goods dl dd del{
  color: blue;
  font-size: 14px;
  margin-left: 10px;
}
#searchList .goods dl dd span{
  color: red;
}
#searchList .goods dl div{
  width:283px;
  height:auto;
  cursor: pointer;
  z-index: 10;
  @include userPosition(230,0);
  display: none;
}
#searchList .goods .padings{
  position: absolute;
  right: 20px;
  bottom: 30px;
  width: 310px;
  height: 30px;
}
#searchList .goods .padings a{
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  border: 1px solid #ccc;
  margin-right: 10px;
  line-height: 30px;
}